<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/B.png') }}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BeautyFlow</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}" />
  <style>
    .error-message {
      color: red;
      font-size: 13px;
      margin-top: 5px;
      display: none;
      text-align: center;
    }
  </style>
</head>

<body class="login-page">
  <header class="login-header">
    <a href="{{ url_for('login_page') }}" class="logo"></a>
  </header>

  <div class="login-bg"></div>
  <div class="login-overlay"></div>

  <main class="login-card">
    <div class="login-brand">
      <div class="brand-mark">B</div>
      <div class="brand-title">BeautyFlow</div>
      <p class="brand-sub">Collaborative AI-powered makeup import system</p>
    </div>

  <form id="loginForm" class="login-form" method="POST" action="{{ url_for('login_page') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <label>
    <span style="text-align: center;">Email Address</span>
    <input type="email" name="email" id="email" placeholder="name@example.com" required>
  </label>

  <label>
    <span style="text-align: center;">Password</span>
    <input type="password" name="password" id="password" placeholder="Enter your password" required>
  </label>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="errorMessage" class="error-message" style="display:block;">
      {% for category, message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  <button type="submit" id="continueBtn" class="btn btn-primary">Continue</button>
</form>


    <p style="color: gray;">___________ or ___________ </p>

    <a href="#" class="btn btn-google">
      <img src="{{ url_for('static', filename='images/Google_logo.png') }}" alt="Google" class="icon">
      Continue with Google
    </a>

    <a href="#" class="btn btn-apple">
      <img src="{{ url_for('static', filename='images/Apple_logo.png') }}" alt="Apple" class="icon-apple">
      Continue with Apple
    </a>

    <p style="color: gray;">______________________ </p>

    <p class="auth-foot">
      <span style="color: rgb(255, 254, 254);">You do not have an account?</span>
      <a style="color: rgb(244, 135, 135); " href="{{ url_for('signup') }}">new account</a>
    </p>

  
  </main>
</body>

</html>